<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Basic POM Framework">
   <test name="Basic POM Framework test cases">
            
    <classes>
      <class name="com.pomframework.tests.LandingPageTests"/>
    </classes>
    </test>
</suite> 
